@import '_typography';
.bookingCardWrap {
  border-top: 1px solid rgba(163, 163, 163, 0.6);
  border-bottom: 1px solid rgba(163, 163, 163, 0.6);
  transform: rotate(-0.23deg);
  height: 390px;
  @include center;
}
.mobileBookingCard {
  display: none;
}
.bookingCard {
  height: 310.18px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  .contentBox {
    display: flex;
    .left {
      flex-basis: 50%;
      width: max-content;
      img {
        height: 246.70358276367188px;
        width: 345px;
      }
    }
    .right {
      flex-basis: 50%;
      p {
        font-weight: 600;
        font-size: 20px;
        margin: 0;
        margin-left: 22px;
        line-height: 30px;
        letter-spacing: 0.03em;
      }
      h2 {
        margin: 0;
        margin-left: 22px;
        margin-bottom: 20px;
      }
    }
  }
  .addOnBox {
   
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .AddOnWrap {
      display: flex;
     justify-content: flex-end;
      
      p {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        margin: 0;
        text-align: right;
       
      }
    }
    .button {
        margin-right: 4.813rem;
        margin-top: 2.1rem;
    }
    .total {
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        margin: 0;
        margin-right: 8rem;
    }
    margin-right: 21px;
  }
}

@media screen and (max-width:400px) {

   .mobileBookingCard {
     display: block;
     height: 665.2px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     @include center;
     justify-content:  space-between;
     flex-direction: column;
     img {
      height: 191px;
      width: 284.2096862792969px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      
      
     }
   
     .checkBoxWrap {
       display: flex;
       justify-content: space-between;
       width: 80%;
      
       .blackCheckBox {
        flex-grow: grow;
        height: 28.1540470123291px;
        width: 28.1540470123291px;
        margin:0;

      }
     }
   }
   .bookingCardWrap {
     display: none;
   }
}