
.hamburgerOverlay {
    display: none;
}
@media screen and (max-width: 500px) {
    .hamburgerOverlay {
        display: block;
        height: 736px;
        background: #0C251F;
        width: 84%;
        display: flex;
        flex-direction: column;
        p {
        font-weight: 600;
        font-size: 24px;
        line-height: 56px;
        color:#E6E6E5;
        margin:0;
        }
        .oContainer {
            display: flex;
            flex-direction: column;
            margin-left: 31px;
            margin-top:88px;
        }
        svg {
            align-self: flex-end;
            margin-right: 25px;
            margin-top: 21px;
        }
    }
    

}